@import "variable";

.sample-store {
  @import "variable";

  .container {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
  }
  .list-wrapper {
    margin: 0 4%;
    width: 92%;
  }
  ul {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  ul.list-header,
  ul.list-body {
    display: flex;
  }
  ul.list-header > li {
    background: #b0b0b0;
    box-sizing: border-box;
    border-color: $border-default-color;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    padding: 4px;
  }
  ul.list-body > li {
    height: 60px;
    text-align: center;
    background: #fff;
    box-sizing: border-box;
    border-color: $border-default-color;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 5px;
  }
  /** Item column */
  ul.list-header > li:nth-child(1),
  ul.list-body > li:nth-child(1) {
    width: 30%;
    border-left-width: 1px;
  }
  /** Content column */
  ul.list-header > li:nth-child(2),
  ul.list-body > li:nth-child(2) {
    width: 70%;
  }
  ul.list-header > li:last-child {
    border-rignt-width: 1px;
  }
  ul.list-body > li:nth-child(2n+1) {
    border-rignt-width: 1px;
  }
  .list-detail {
    display: flex;
    height: 92%;
  }
  .list-detail > div {
    text-align: center;
    width: 50%;
    border-top: 1px $border-default-color solid;
  }
  .list-detail > div:nth-child(1) {
    border-right: 1px $border-default-color solid;
  }
  p {
    color: #ff4500;
    font-size: 12px;
  }

}
