@import "variable";

@import "variable";

.sample-tree {
  .container {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-family: sans-serif;
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    border-top: none;
  }
  dt {
    background: #ddd;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
  }
  dd {
    padding: 10px;
    margin: 0;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 70%;
    background: #fff;
    box-sizing: border-box;
  }
  dt.term-body,
  dd.description-body {
    min-height: 60px;
    text-align: center;
    background: #fff;
    box-sizing: border-box;
    border-color: $border-default-color;
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 5px;
  }
  .list-wrapper {
    margin: 0 4%;
    width: 92%;
  }
  ul {
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  dt.term-header,
  dd.description-header {
    background: #b0b0b0;
    box-sizing: border-box;
    border-color: $border-default-color;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    padding: 4px;
  }
  dt.term-header,
  dt.term-body {
    width: 30%;
    border-left-width: 1px;
  }
  .list-detail {
    display: flex;
    height: 92%;
  }
  .list-detail > div {
    text-align: center;
    width: 50%;
    border-top: 1px $border-default-color solid;
  }
  .list-detail > div:nth-child(1) {
    border-right: 1px $border-default-color solid;
  }
  p {
    color: #ff4500;
    font-size: 12px;
  }
  .delete-button {
    margin: 8px 0 0 8px;
  }
}
